
<div class="chat">
  <div class="chat-inner">
    <div class="chat-user">
      <app-user-panel
        [mode]="panelMode"
        (changeSearchValue)="onChangeSearchValue($event)"
        (changeMode)="onTogglePanelMode()"
      ></app-user-panel>


      <app-loader-holder
        [loading]="loadingUser$ | async"
        [errorMessage]="errorMessageUserList"
      >
        <app-user-list
        ></app-user-list>
      </app-loader-holder>

    </div>
    <div class="chat-content">
      <app-chat-content-header>
      </app-chat-content-header>

      <app-loader-holder
        [loading]="loadingUser$ | async"
        [error]="error$ | async"
        [errorMessage]="errorMessageChat"
      >
        <app-chat-content
        ></app-chat-content>


        <app-chat-messager
        ></app-chat-messager>

      </app-loader-holder>

    </div>
  </div>
</div>
