<ng-container *ngFor="user of [1,1,1,1,1,1,1,1,1,1,1]">
  <div class="block block_user">
    <div class="block__icon">
      <fa-icon [icon]="userIcon" size="3x"></fa-icon>
    </div>
    <div class="block__content">
      <span class="block__content-text block__content-text_m">Иван Иванов</span>
      <span class="block__content-text block__content-text_small">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis commodi error nisi quas quos.
      </span>
    </div>
  </div>
</ng-container>
