<ng-container *ngFor="user of [1,1,1,1,1,1,1,1,1,1]">
  <div class="block block_user">
    <div class="block__icon">
      <fa-icon [icon]="userIcon" size="3x"></fa-icon>
    </div>
    <div class="block__content">
      <span class="block__content-text block__content-text_m">Иван Иванов</span>
      <span class="block__content-text block__content-text_small">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad autem cumque debitis delectus distinctio earum exercitationem, impedit magnam minima modi numquam quibusdam quidem ratione totam unde voluptates. Accusamus asperiores, autem blanditiis consequuntur distinctio eos error exercitationem nam natus nemo obcaecati optio sunt totam ut vero. Ex, iusto, tempore. Adipisci aliquam, animi asperiores assumenda cum distinctio eligendi est impedit incidunt maiores numquam optio porro possimus, quae, quam quo saepe sint tempore unde vel. A amet at dolor, dolorem enim et libero magni molestiae nisi obcaecati officia praesentium, provident quae qui quia quo recusandae reiciendis reprehenderit saepe suscipit vel vitae voluptate.
      </span>
    </div>
  </div>
</ng-container>
